version: 1.0.{build}
environment:
  PATH: C:\Program Files\R\R-3.5.1\bin\x64\;$(PATH)
install:
- choco install r.project --version 3.5.1
cache:
- c:\blackbox -> .appveyor.yml
- c:\MSMpiSetup.exe -> .appveyor.yml
build_script:
- cmd: >-
    IF NOT EXIST "c:\blackbox" (
    curl -fsS -o c:\blackbox-1.7.1.zip https://www.multibugs.org/build/blackbox-1.7.1.zip &
    7z x c:\blackbox-1.7.1.zip -y -oc:\blackbox &
    curl -fsS -o c:\blackbox\bbscript.exe https://www.multibugs.org/build/bbscript.exe
    )

    rem Installing MS-MPI

    rem https://github.com/mpi4py/mpi4py/blob/master/conf/ci/appveyor/install-msmpi.ps1

    rem this is version 9.0

    IF NOT EXIST "c:\MSMpiSetup.exe" (
    curl -fsS -o c:\MSMpiSetup.exe https://download.microsoft.com/download/2/E/C/2EC96D7F-687B-4613-80F6-E10F670A2D97/MSMpiSetup.exe
    )

    c:\MSMpiSetup.exe -unattend

    set PATH=C:\Program Files\Microsoft MPI\Bin;%PATH%


    rem Compiling MultiBUGS modules

    c:\blackbox\bbscript.exe /USE %APPVEYOR_BUILD_FOLDER% /PAR Developer/Make.odc


    rem Linking MultiBUGS modules

    c:\blackbox\bbscript.exe /USE %APPVEYOR_BUILD_FOLDER% /PAR Developer/LinkingWindows.odc

    mkdir c:\MultiBUGS\Dynamic\Sym

    mkdir c:\MultiBUGS\Dynamic\Code

    rem Zipping up MultiBUGS

    7z a %APPVEYOR_BUILD_FOLDER%/MultiBUGS.zip c:\MultiBUGS

    Rscript.exe
    -e "install.packages(\"devtools\", repos=\"https://cloud.r-project.org\")"
    -e "devtools::install_github(\"MultiBUGS/R2MultiBUGS\", ref = \"v2.0alpha\")"
    -e "devtools::install_github(\"MultiBUGS/multibugstests\")"
test_script:
- cmd: >-
    Rscript.exe -e "library(R2MultiBUGS); library(multibugstests); bugs_examples_all(n.workers = 2, n.chains = 1, report = \"appveyor\")" &
    Rscript.exe -e "library(R2MultiBUGS); library(multibugstests); bugs_examples_all(n.workers = 2, n.chains = 2, report = \"appveyor\")"
artifacts:
- path: MultiBUGS.zip
