Source: multibugs
Section: devel
Maintainer: Andrew Thomas <andrew.thomas@mrc-bsu.cam.ac.uk>
Homepage: https://github.com/MultiBUGS/MultiBUGS
Package: multibugs
Version: 2.0
Priority: optional
Architecture: i386
Depends: libc6, libgtk2.0-0, gtk2-engines, gtk2-engines-murrine, libcanberra-gtk-module, gtk2-engines-pixbuf, libatk-adaptor, libgail-common, gnome-icon-theme:i386 | gnome-icon-theme:amd64, gnome-themes-extra:amd64 | gnome-themes-extra:i386 | gnome-themes-standard:i386, mpich:i386
Description: Parallel implementation of the BUGS modelling framework for Bayesian inference
 MultiBUGS is a software package for performing Bayesian inference. It builds 
 on the existing algorithms and tools in OpenBUGS and WinBUGS, and so is 
 applicable to the broad range of statistical models that can be fitted using 
 BUGS-language software, but automatically parallelises the MCMC algorithm to 
 dramatically speed up computation.
